*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.carousel-item img{
    width: 100%;
    height: 92vh;
}

.about_img{
    max-height: 280px;
    min-width: 100%;
}

.projects img{
    width: 100%;
    height: 100%;
}

.offer_sec{
    background-color: #a6dcef;
}

footer p{
    margin-bottom: 0;
}

.skill_img img{
    width: 356px;
    min-height: 219px;
}

